@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
body{font-family: "Open Sans Condensed"

}
p { color: blue; }
html{color:red; background-color: yellow;}
#worktag {color: white;}

#happytag
